<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" (click)="tab = 1">Show Comments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="tab = 2">Add Comment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="tab = 3">Description</a>
  </li>
</ul>

<section [ngSwitch]="tab">
  <div *ngSwitchCase="'1'">
    <div *ngIf="comments.length > 0; else noCommentTemplate">
      <blockquote *ngFor="let comment of comments" class="blockquote m-2">
        <strong class="p-2">Stars : {{ comment.stars }}</strong>
        {{ comment.body }}
        <cite class="float-end">-{{ comment.author }}</cite>
      </blockquote>
    </div>
    <ng-template #noCommentTemplate>
      <h6>Be the first to comment...</h6>
    </ng-template>
  </div>
  <div *ngSwitchCase="'2'">
    <app-comment-form (commentEvent)="addNewComment($event)"></app-comment-form>
  </div>
  <div *ngSwitchCase="'3'">
    <h6>More description about the user...</h6>
  </div>
</section>
