<div class="card">
  <div class="card-header">
    <h6 class="text-center">
      {{ post.id | uppercase }} - {{ post.title | uppercase }}
    </h6>
  </div>
  <div class="card-body">
    <p>{{ post.body | titlecase }}</p>
    <div class="row">
      <div class="col-6">
        <div class="d-grid">
          <button class="btn btn-danger btn-sm" (click)="onDelete(post.id)">
            DELETE
          </button>
        </div>
      </div>
      <div class="col-6">
        <div class="d-grid">
          <button class="btn btn-warning btn-sm" (click)="onCancel()">
            CANCEL
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
