<header>
  <nav>
    <div class="row">
      <div class="col-10">
        <ul class="nav nav-tabs">
          <li class="nav-item" *ngIf="!authService.isUserAuthenticated()">
            <a class="nav-link" [routerLink]="['auth']">Login/Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['pipe-demo']">Pipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['observable-demo']"
              >Observable</a
            >
          </li>
          <li class="nav-item" *ngIf="authService.isUserAuthenticated()">
            <a class="nav-link" [routerLink]="['users']">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['posts']">Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['lazy']">Lazy</a>
          </li>
        </ul>
      </div>
      <div class="col-2">
        <div class="d-grid" *ngIf="authService.isUserAuthenticated()">
          <button
            class="btn btn-outline-danger btn-sm"
            (click)="authService.logout()"
          >
            Logout
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
