<p class="display-4">Observable demo</p>

<button class="btn btn-primary" (click)="onSubscribe()">Subscribe</button>

<button class="btn btn-success" (click)="onResult()">Result</button>

<!-- <button class="btn btn-danger" (click)="onUnsubscribe()">Unsubscribe</button> -->
