<h2>The Pipe Demo Component</h2>

<h6>Promise Object : {{ promise | async }}</h6>

<h6>Contact Number : {{ contactNumber | countryCode }}</h6>

<h6>Reverse Content : {{ "Hello World" | reverse }}</h6>

<hr />

<div class="row">
  <div class="col-6">
    <!-- drop down -->
    <select class="form-control" [(ngModel)]="filteredStatus">
      <option value="pending">Pending</option>
      <option value="completed">Completed</option>
    </select>
  </div>
  <div class="col-6">
    <!-- button -->
    <button class="btn btn-primary" (click)="onAddItem()">Add New Item</button>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Todo Label</th>
      <th>Todo Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todoCollection | filter : filteredStatus">
      <td>{{ todo.label }}</td>
      <td>
        {{ todo.status }}
      </td>
    </tr>
  </tbody>
</table>
