<div class="card">
  <div class="card-header">
    <div class="card-title">
      <ng-content select=".title"></ng-content>
    </div>
  </div>
  <div class="card-body">
    <ng-content select=".body"></ng-content>
    <button class="btn btn-primary">
      <ng-content select=".btn-text"></ng-content>
    </button>
  </div>
</div>
