<div class="backdrop">
  <div class="my-form">
    <div class="card">
      <div class="card-body">
        <h6 class="text-center">Add New Post</h6>
        <form #theForm="ngForm" (ngSubmit)="onAddPost(theForm)">
          <!-- title -->
          <div class="form-group mb-3">
            <label for="title">Title :</label>
            <input type="text" class="form-control" name="title" ngModel />
          </div>
          <!-- body -->
          <div class="form-group mb-3">
            <label for="body">Body :</label>
            <input type="text" class="form-control" name="body" ngModel />
          </div>
          <!-- button  -->
          <div class="row">
            <div class="col-6">
              <div class="d-grid">
                <button class="btn btn-primary" type="submit">Add Post</button>
              </div>
            </div>
            <div class="col-6">
              <div class="d-grid">
                <button class="btn btn-dark" (click)="onCancel()">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
