.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50%;
  width: 100vw;
  height: 100vh;
}

.my-form {
  position: fixed;
  left: 25vw;
  top: 20vh;
  width: 50vw;
  height: 60vh;
  background-color: #fff;
  z-index: 70%;
}
