<!-- <ng-content select="header"></ng-content>
<ng-content select=".main-content"></ng-content> -->
<h4 appHighlight favColor="lightgrey">
  {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}
</h4>

<p test="some string" textSize="1.2em">The Demo</p>

<p [ngClass]="myClasses" (mousedown)="toggleClasses()">
  Date of Birth : <span [innerText]="user.dob | date : 'dd-MM-yyyy'"></span>
</p>

<p
  *ngIf="user.isWorking; else elseTemplate"
  [ngStyle]="myStyles"
  (mouseenter)="onChangeStyle()"
  (mouseleave)="onMouseLeave()"
>
  Income : <span [innerText]="user.income | currency : 'INR'"></span>
</p>

<p>
  Total Votes : {{ user.totVotes }}
  <input type="number" [(ngModel)]="user.totVotes" />
</p>

<!-- <ng-content select="footer"></ng-content> -->

<ng-template #elseTemplate>
  <p>Mr. {{ user.lastName.toUpperCase() }} is NOT working now!</p>
</ng-template>
