.ng-invalid.ng-dirty[name="username"] {
  background-color: rgb(235, 128, 128);
}
.ng-valid.ng-dirty[name="username"] {
  background-color: rgb(155, 236, 155);
}
.ng-invalid.ng-dirty[name="password"] {
  background-color: rgb(235, 128, 128);
}
.ng-valid.ng-dirty[name="password"] {
  background-color: rgb(155, 236, 155);
}
