<div class="row">
  <div class="col-8 offset-2">
    <div class="card">
      <div class="card-body">
        <h6 class="text-center">{{ loginMessage }}</h6>
        <br />
        <h4 class="text-center">Login / Register Form</h4>
        <form [formGroup]="authForm">
          <!-- USERNAME -->
          <div class="form-group mb-3">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              name="username"
              [formControl]="username"
            />
            <div *ngIf="username.invalid && username.touched">
              <div
                class="alert alert-danger"
                *ngIf="username.hasError('required')"
              >
                <p>- Username is mandatory field</p>
              </div>
              <div
                class="alert alert-danger"
                *ngIf="username.hasError('email')"
              >
                <p>- Username must be in proper email format</p>
              </div>
            </div>
          </div>
          <!-- PASSWORD -->
          <div class="form-group mb-3">
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              class="form-control"
              [formControl]="password"
            />
            <div *ngIf="password.invalid && password.dirty">
              <div
                *ngIf="password.hasError('required')"
                class="alert alert-danger"
              >
                <p>- Password is mandatory field</p>
              </div>
              <div
                *ngIf="password.hasError('minlength')"
                class="alert alert-danger"
              >
                <p>- Password must be 6 characters long</p>
              </div>
              <div
                *ngIf="password.hasError('needExclamation')"
                class="alert alert-danger"
              >
                <p>- Password must contain exclamation sign (!)</p>
              </div>
            </div>
          </div>

          <!-- HOBBIES -->

          <div class="form-group mb-3">
            <button class="btn btn-dark btn-sm" (click)="addHobby()">
              Add Hobby
            </button>

            <div formArrayName="hobbies">
              <div *ngFor="let hobby of hobbies.controls; index as i">
                <div [formGroupName]="i">
                  <div class="row">
                    <div class="col-4">
                      <input
                        type="text"
                        formControlName="name"
                        placeholder="hobby name"
                        class="form-control"
                      />
                    </div>
                    <div class="col-4">
                      <input
                        type="number"
                        formControlName="frequency"
                        placeholder="frequency"
                        class="form-control"
                      />
                    </div>
                    <div class="col-4">
                      <div class="d-grid">
                        <button
                          class="btn btn-danger btn-sm"
                          (click)="onDeleteHobby(i)"
                        >
                          DELETE
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- BUTTONS -->
          <div class="form-group">
            <div class="row">
              <div class="col-6">
                <div class="d-grid">
                  <button
                    [disabled]="!authForm.valid"
                    class="btn btn-primary"
                    (click)="onLogin()"
                  >
                    Login
                  </button>
                </div>
              </div>
              <div class="col-6">
                <div class="d-grid">
                  <button
                    [disabled]="!authForm.valid"
                    class="btn btn-primary"
                    (click)="onRegister()"
                  >
                    Register
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
