.ng-dirty.ng-invalid[name="body"] {
  border-left: 4px red solid;
}
.ng-dirty.ng-valid[name="body"] {
  border-left: 4px green solid;
}
.ng-dirty.ng-invalid[name="author"] {
  border-left: 4px red solid;
}
.ng-dirty.ng-valid[name="author"] {
  border-left: 4px green solid;
}
