<div class="card">
  <div class="card-header">
    <h6 class="text-center">Add Comment</h6>
  </div>
  <div class="card-body">
    <form #theForm="ngForm" (submit)="onAddNewComment(theForm)">
      <!-- stars -->
      <div class="form-group mb-2">
        <select
          class="form-control"
          required
          name="stars"
          ngModel
          #stars="ngModel"
        >
          <option>Select Stars</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <!-- body -->
      <div class="form-group mb-2">
        <textarea
          name="body"
          rows="8"
          class="form-control"
          placeholder="write your message here"
          required
          minlength="6"
          ngModel
          #body="ngModel"
        ></textarea>

        <div *ngIf="body.errors && body.touched" class="alert alert-danger">
          <p>- Some Problem with body field</p>
          <div *ngIf="body.errors['required']">
            <p>- Body field is mandatory</p>
          </div>
          <div *ngIf="body.errors['minlength']">
            <p>- Body field must be 6 characters long</p>
          </div>
        </div>
      </div>
      <!-- author -->
      <div class="form-group mb-2">
        <input
          name="author"
          type="email"
          class="form-control"
          placeholder="enter email here..."
          required
          email
          ngModel
          #author="ngModel"
        />
      </div>
      <!-- buttons -->
      <div class="form-group">
        <button
          [disabled]="!theForm.valid"
          class="btn btn-success"
          type="submit"
        >
          Add Comment
        </button>
      </div>
    </form>
  </div>
</div>
