<ul class="list-group">
  <li
    class="list-group-item m-4"
    *ngFor="
      let user of users;
      index as i;
      first as isFirst;
      last as isLast;
      even as isEven;
      odd as isOdd
    "
    [ngClass]="{ 'the-shadow': isEven }"
  >
    <div class="row">
      <div class="col-3">
        <app-user-image
          [user]="user"
          (childEvent)="onMoreInfo($event)"
          (demoEvent)="onChildDemo($event)"
        ></app-user-image>
      </div>
      <div class="col-9">
        <app-user-info [user]="user">
          <header>Some Header Info</header>
          <main class="main-content">Main Content</main>
          <footer>Some Footer Info</footer>
        </app-user-info>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <app-comments [comments]="user.comments"></app-comments>
      </div>
    </div>
  </li>
</ul>
