<img [src]="user.image" class="img-fluid rounded-circle" />
<div class="d-grid mt-3">
  <button class="btn btn-info" (click)="onButtonClick()">More Info</button>
  <!-- <button class="btn btn-info" (click)="onDemoClick()">Demo</button> -->
</div>
