<p #paragraphEl>life-cycle-demo works!</p>

<ng-content select="header"></ng-content>

<button (click)="show = !show" class="btn btn-light">Toggle Show</button>
<p *ngIf="show">This paragraph will toggle</p>

<ng-content select="footer"></ng-content>
