<div class="row mb-3">
  <div class="col-4 offset-4">
    <div class="d-grid">
      <button class="btn btn-dark" (click)="onAddPost()">Add Post</button>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div
    class="col-4"
    *ngFor="let post of postCollection"
    (click)="postSelected(post.id)"
  >
    <div class="card my-class">
      <div class="card-header">
        <h6 class="text-center">{{ post.title | uppercase }}</h6>
      </div>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-10 offset-1">
    <router-outlet></router-outlet>
  </div>
</div>
